<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>VAI DAR CERTO ALTERAR OS DADOS DO MEU USUARIO</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_div }}
    {{ password_change_form.as_div }}

    <button type="submit">Alterar vagabundo</button>
  </form>
</body>
</html>