<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Estou na pagina inicial</h1>

  <a href="{% url 'login' %}">
    <h2>ENTRAR</h2>
  </a>
</body>
</html>