<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Novo Usuario</h1>

  <h2
    style="color: red;"
  >{{ form.errors }}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_div }}
    <button type="submit">Sign Up</button>
  </form>

</body>
</html>