<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
    <h1>Nome {{ request.user.name }}</h1>
    
    {% if request.user.photo %}
    <img src="{{ request.user.photo.url }}" alt="my avatar" height="160">
    {% endif %}
    
    <h2>Curso {{ request.user.course }}</h2>
    <h3>{{ request.user.name }}</h3>
    
    <a href="{% url 'change_profile' %}">
      <h2>ALTERAR</h2>
    </a>

    <a href="{% url 'logout' %}">
      <h2>SAIR</h2>
    </a>
    <a href="{% url 'signup' %}">
      <h2>Criar novo usuario para acessar o sistema</h2>
    </a>

    {% comment %} <form action="{% url '' %}" method="post">
      <input type="text">
      <input type="password" name="" id="">
      <button type="submit">SUBMIT</button>
    </form> {% endcomment %}

</div>

</body>
</html>